[buildout]
extends = 
    buildout-configs/base-zope.cfg
    buildout-configs/base-devel.cfg

#we only need two zope instances when developing, so we disable the rest of them
[www3]
recipe =
[www4]
recipe =
[www5]
recipe =
[www6]
recipe =
[www7]
recipe =
[www8]
recipe =

[conf]
effective-user = tiberiu

[sources]
#sources for custom devel packages
